{% extends 'base.html' %}

{% block title %}レビュー{% if mode == 'create' %}投稿{% else %}編集{% endif %}{% endblock %}

{% block content %}
  {# レビュー作成／編集フォーム。投稿モードは view 側で渡される #}
  <form method="post" class="form-card">
    {% csrf_token %}
    <div class="form-card__group">
      <label>対象書籍</label>
      <input class="form-control" value="{{ book.title }}" readonly>
    </div>
    {% for field in form %}
      <div class="form-card__group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="form-error">{{ field.errors|striptags }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="form-card__actions">
      <a class="btn ghost" href="{% url 'book:detail-book' book.id %}">戻る</a>
      <button type="submit" class="btn primary">{% if mode == 'create' %}投稿する{% else %}更新する{% endif %}</button>
    </div>
  </form>
{% endblock content %}
